html, body {
  margin: 0;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

body {
  background-color: #D8C3A5;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  /* font-size: 1em; */
}

input[type='text'],
input[type='number'] {
  font-size: 16px;
}

/* right align mat header */
.right-aligned-header > .mat-content {
    justify-content: space-between;
}
.right-aligned-header > .mat-content > mat-panel-title,
.right-aligned-header > .mat-content > mat-panel-description {
  flex: 0 0 auto;
}

/* Remove incr/decr arrows from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
