header {
  color: #E98074;
  font-family: 'Vollkorn', serif;
  font-size: 30px;
}

header > h1 {
  margin: 0;
}

main {
  padding: 0 30px 30px 30px;
}

mat-card {
  overflow-x: auto;
  overflow-y: auto
}
