header {
  color: #E98074;
  font-family: 'Vollkorn', serif;
  /* font-size: 30px; */
  padding: 5px 10px 10px 5px;
}

header > h1 {
  margin: 0;
}

.larger-h1 {
  font-size:400%;
}

main {
  padding: 0 20px 20px 20px;
}

mat-card {
  overflow-x: auto;
  overflow-y: auto
}
